<div ng-controller="AppCtrl">
 <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
 <md-content ng-controller="LeftCtrl" layout="column">
<!-- <md-toolbar class="md-theme-light">
 <h1 class="md-toolbar-tools">Добавить персону</h1></md-toolbar> -->
  <md-button type="button" class="closeBtn" ng-click="close()">×</md-button>
<form   > 
  <div class="modal-content">
    <div class="modal-body" ng-controller="AddPostCtrl"><br>
     <div class="form-group">
      <!-- <span ng-click="checkInput()">ID</span> -->
      <input type="text" class="form-control" id="id" placeholder="Введите ID" ng-model="aid">
    </div>
    <div class="form-group" >
      <!-- <span >ФИО</span> -->
      <input type="text" class="form-control" id="name" placeholder="Введите ФИО" ng-model="aname" >
    </div>
    <div class="form-group">
      <!-- <span>КОМПАНИЯ</span> -->
      <input type="text" class="form-control" id="company" placeholder="Введите ИМЯ КОМПАНИИ" ng-model="acompany" >
    </div>
    <div class="form-group">
      <!-- <span >ИНН</span> -->
      <input type="text" class="form-control" id="inn" placeholder="Введите ИНН" ng-model="ainn" >
    </div> 
    <div class="form-group">
      <!-- <span>КОЛЧЕСТВО ТОВАРА</span> -->
      <input type="text" class="form-control" id="amount" placeholder="Введите КОЛЧЕСТВО ТОВАРА" ng-model="aamount" >
    </div>
    <div class="form-group">
      <!-- <span >СРЕДНИЙ ЧЕК</span> -->
      <input type="text" class="form-control" id="arpu" placeholder="Введите СРДНИЙ ЧЕК" ng-model="aarpu" >
    </div>
    <div class="form-group">
      <!-- <span >ПЕРИОД ПОСТАВКИ</span> -->
      <input type="text" class="form-control" id="period" placeholder="Введите ПЕРИОД ПОСТАВКИ" ng-model="aperiod" >
    </div>
    <div class="form-group">
      <!-- <span>Email</span> -->
      <input type="email" class="form-control" id="email" placeholder="Введите EMAIL" ng-model="aemail" >
    </div>
    <div class="form-group">
      <md-button type="submit" ng-click="AddPost()">Отправить</md-button>
    </div>

  </div>
</div>
</form>

</md-content>
</md-sidenav>
</div>
