   <div class="viewContent ">
    <div class="viewContent--wrapper ">
      <div class="list" ng-controller="AddPostCtrl">
        <table class="table table-striped  table-hover table-bordered  focus-on">
          <thead>
            <tr >
              <th><i class="glyphicon glyphicon-ok"></i></th>
              <th data-ng-repeat="l in log track by $index" data-ng-bind="l.label" ng-click= "sortTypeFun(l.name)">
              </th>
            </tr>
          </thead>
          <tbody><!--   ng-controller="AppCtrl" -->
           <tr dir-paginate="user in users_list | filter:query2 | orderBy:sortType:sortReverse |
           itemsPerPage: itemsPage" ng-click="postEdit()">
           <td><md-checkbox aria-label="_row"></md-checkbox></td>
           <td data-ng-bind="user[l.name]" data-ng-repeat="l in log track by $index"></td>
         </tr>
       </tbody>
     </table>
   <dir-pagination-controls boundary-links=boundaryLinks max-size=maxSize class ="pull-right btn-lg paginator"></dir-pagination-controls>   
   </div>



 </div>
</div>