<div class="container-fluid" ng-controller="CheckCtrl">
   
    <!--Nav content-->

  <div class="row" ng-controller="PaginatorCtrl">
    <div class="searchForm">
      <div class="searchForm--wrapper clearfix">

        <div class="searchForm--form col-md-2 col-sm-2">
          <input data-ng-model="query2" class="form-control" data-ng-model-options="{debounce: 150}" placeholder="Search">
        </div>

    <!--OrderBy content-->
        <div class="searchForm--form col-md-2 col-sm-2">
          <select data-ng-model="sortType" class="form-control">
            <option value="{{l.name}}" data-ng-bind="l.label" data-ng-repeat="l in log track by $index"></option>
          </select>
        </div>

        <div class="searchForm--form col-md-2 col-sm-2">
          <input type="number" min="1" max="100" class="form-control" ng-model="itemsPage">
        </div>

    <!--Icon content-->
        <div class="bar bar_right  col-md-4 col-sm-4">
          <a class="glyphicon glyphicon-list-alt"  data-toggle="modal" data-target=".bs-example-modal-sm"></a>
          <a class="glyphicon glyphicon-plus" data-toggle="modal" data-target=".bs-example-modal-lg" data-placement="bottom" title="Добавить персону"></a>
          <a class="glyphicon glyphicon-cog" data-toggle="tooltip" data-placement="bottom" title="Редактировать персону"></a>
          <a class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Удалить персону"></a>

        </div>
      </div>
    </div>

    <!--Body content-->
         <ng-include src="'partials/body.html'"></ng-include>
</div>

<!-- modal-content -->
    <ng-include src="'partials/modal_chkbox.html'"></ng-include>
<!-- modal_add -->
    <ng-include src="'partials/modal_add.html'"></ng-include>

