<div class="container-fluid">
  <div class="row">
    <!--Sidebar content-->
    <div class="searchForm">
      <div class="searchForm--wrapper clearfix">

        <div class="searchForm--form">
          <!-- <span>Search:</span> -->
          <input data-ng-model="query" class="form-control" data-ng-model-options="{debounce: 150}" placeholder="Search">
        </div>
        

        <!-- <a class="glyphicon glyphicon-option-vertical"></a> -->

        <div class="searchForm--form">
         <!-- <span>Sort by:</span> -->
         <select data-ng-model="orderProp" class="form-control">
          <option value="id">id</option>
          <option value="surname">surname</option>
          <option value="name">name</option>
          <option value="age">age</option>
          <option value="group">group</option>
        </select>
      </div>

      <!-- <a class="glyphicon glyphicon-option-vertical"></a> -->
      <div class="bar" >
        <a class="glyphicon glyphicon-th-list" 
        data-ng-class="{active: layout == 'list' }" data-ng-click="layout = 'list'"></a>
        <a class="glyphicon glyphicon-th" 
        data-ng-class="{active: layout == 'grid' }" data-ng-click="layout = 'grid'"></a>
        <a class="glyphicon glyphicon-th-large" 
        data-ng-class="{active: layout == 'trello' }" data-ng-click="layout = 'trello'"></a>
      </div>
      <div class="bar bar_right">
        <!-- <a class="glyphicon glyphicon-option-vertical"></a> -->
        <!-- <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Малая модаль</button> -->

        <a class="glyphicon glyphicon-plus"  data-toggle="modal" data-target=".bs-example-modal-sm"></a>
        
        <a class="glyphicon glyphicon-cog" data-toggle="tooltip" data-placement="bottom" title="Редактировать персону"></a>
        
        <a class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Удалить персону"></a>
        
        <!-- <a class="glyphicon glyphicon-option-vertical"></a> -->
        
        <a class="glyphicon glyphicon-plus-sign" data-toggle="tooltip" data-placement="bottom" title="Добавить группу"></a>

        <a href="https://github.com/ego-web/kartoteka" target="_blank" class="glyphicon">
          <svg aria-hidden="true" class="octicon octicon-mark-github" height="28" version="1.1" viewBox="0 0 16 16" width="24"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59 0.4 0.07 0.55-0.17 0.55-0.38 0-0.19-0.01-0.82-0.01-1.49-2.01 0.37-2.53-0.49-2.69-0.94-0.09-0.23-0.48-0.94-0.82-1.13-0.28-0.15-0.68-0.52-0.01-0.53 0.63-0.01 1.08 0.58 1.23 0.82 0.72 1.21 1.87 0.87 2.33 0.66 0.07-0.52 0.28-0.87 0.51-1.07-1.78-0.2-3.64-0.89-3.64-3.95 0-0.87 0.31-1.59 0.82-2.15-0.08-0.2-0.36-1.02 0.08-2.12 0 0 0.67-0.21 2.2 0.82 0.64-0.18 1.32-0.27 2-0.27 0.68 0 1.36 0.09 2 0.27 1.53-1.04 2.2-0.82 2.2-0.82 0.44 1.1 0.16 1.92 0.08 2.12 0.51 0.56 0.82 1.27 0.82 2.15 0 3.07-1.87 3.75-3.65 3.95 0.29 0.25 0.54 0.73 0.54 1.48 0 1.07-0.01 1.93-0.01 2.2 0 0.21 0.15 0.46 0.55 0.38C13.71 14.53 16 11.53 16 8 16 3.58 12.42 0 8 0z"></path></svg></a>
        </div>
      </div>
    </div>

    <!--Body content-->
    <div class="viewContent ">
      <div class="viewContent--wrapper ">
        <!--           first view -->      
        <div data-ng-if="layout == 'list'" class="list" >
          <table class="table table-striped  table-hover table-bordered  focus-on">
            <thead>
              <tr>
                <th>/</th>
                <th>№</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Должность</th>
                <th>Возраст</th>
                <th>Группа</th>
                <th>Телефон</th>
                <th>E-mail</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="user in users_list | filter:query | orderBy:orderProp">
                <td><input type="checkbox">
                </td>
                <td data-ng-bind="user.num"></td>  
                <td><a href="#" data-ng-bind="user.surname"></a></td>
                <td><a href="#" data-ng-bind="user.name"></a></td>
                <td data-ng-bind="user.position"></td>
                <td data-ng-bind="user.age"></td>
                <td data-ng-bind="user.group"></td>
                <td><a href='tel:ng-bind ="user.phone"' data-ng-bind="user.phone"></a></td>
                <td><a href="mailto:ng-bind ='user.email'"ng-bind="user.email"></a></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!--           second view -->      
        <div data-ng-if="layout == 'grid'" class="grid users">

          <ul data-ng-repeat="group in users_group">
            <div class="fonGroup">
              <li class="btn btn-primary">
                <!-- ng-click="goCats = !goCats" -->
                <span data-ng-bind="group"></span>
              </li>
              <li class="thumbnail"  data-ng-repeat="user in users_list| group:group | filter:query | orderBy:orderProp" >
               <!-- <span class="badge" data-ng-bind="out.length">Group:{{group.length}}</span> -->

               <div class="checkbox">
                <input type="checkbox"/>
              </div>

              <div>
                <a href="#" class="thumb">
                  <img data-ng-src="{{imageUrl}}" alt="">
                </a>

                <p><a href="#" data-ng-bind-template="{{user.name}}">
                </a><br>
                <a href="#" data-ng-bind-template="{{user.surname}}">
                </a></p>
                <p>
                  <span data-ng-bind-template="{{user.position}},"></span><br> 
                  <span data-ng-bind-template="в группе: {{user.group}}"></span>
                </p>
              </div >

            </li>
          </div>
        </ul>

      </div>
      <!--           third view -->      
      <div data-ng-if="layout == 'trello'" class="trello" >
        <ul>
          <li data-ng-repeat="user in users_list | filter:query | orderBy:orderProp">

           <div class="checkbox"><input type="checkbox"/></div>

           <div>
            <a href="#" class="thumb">
              <img data-ng-src="{{imageUrl}}" alt="{{user.name}} +{{user.surname}}">
              <!-- class="img-circle" -->
            </a><br>
            <p><a href="#" data-ng-bind-template="{{user.name }} {{user.surname}}, возраст: {{user.age}}"></a></p>
            <div class="user_position">
              <p data-ng-bind-template="{{user.position}}, в группе: {{user.group}}"></p>
            </div>
            <span><a href='tel:ng-bind ="user.phone"' data-ng-bind="user.phone"></a></span>
            <br>
            <p><a href="mailto:ng-bind ='user.email'"ng-bind="user.email"></a></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>

<!-- /.modal-content -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" ng-controller="AddPostCtrl">
  <div class="modal-dialog modal-sm">
    <form ng-submit="AddPost()">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="mySmallModalLabel">Добавить персону</h4>
        </div>
        <div class="modal-body">
         <div class="form-group">
          <label for="Name">Имя</label>
          <input type="text" class="form-control" id="name" placeholder="Enter name" value="" ng-model="article.name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="" ng-model="article.email">
        </div> 
        <div class="form-group">
          <label for="Phone">Phone</label>
          
          <input type="Phone" class="form-control" id="Phone" placeholder="Enter Phone" value="" ng-model="article.phone">
        </div>
        <div class="form-group">

          <select class="form-control" value="" ng-model="article.group">
            <option data-ng-repeat="group in users_group">{{group}}</option>
          </select>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Отправить</button>
        </div>

      </div>
    </div>
  </form>
</div>
</div>

